KERNEL=="ttyUSB*", ATTRS{serial}=="AH00LZ9V", SYMLINK+="ttyUSB128"
KERNEL=="ttyUSB*", ATTRS{serial}=="AH00LZ9Y", SYMLINK+="ttyUSB129"
KERNEL=="ttyUSB*", ATTRS{serial}=="AH00LZWZ", SYMLINK+="ttyUSB130"
KERNEL=="ttyUSB*", ATTRS{serial}=="A800c7FB", SYMLINK+="ttyUSB131"
KERNEL=="ttyUSB*", ATTRS{serial}=="A700fclb", SYMLINK+="ttyUSB132"
KERNEL=="ttyUSB*", ATTRS{serial}=="A10168LW", SYMLINK+="ttyUSB133"
KERNEL=="ttyUSB*", ATTRS{serial}=="A9RHX5GD", SYMLINK+="ttyUSB134"
KERNEL=="ttyUSB*", ATTRS{serial}=="A1000ggI", SYMLINK+="ttyUSB135"
KERNEL=="ttyUSB*", ATTRS{serial}=="A10168LX", SYMLINK+="ttyUSB136"
KERNEL=="ttyUSB*", ATTRS{serial}=="A93KU9ET", SYMLINK+="ttyUSB137"
